<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="leakcanary.internal.MainProcessAppWatcherInstaller"
            tools:node="remove" />
    </application>
</manifest>
